<div class="container mt-2">
    <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="card card-block">
          
        <img src="./assets/img1.png" alt="">
            <h5 class="card-title mt-3 mb-3">Gajar Ka Halwa</h5>

      </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="card card-block">
          
        <img src="./assets/img2" alt="">
            <h5 class="card-title  mt-3 mb-3">Pizza</h5>
            
      </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="card card-block">
          
        <img src="./assets/img3" alt="">
            <h5 class="card-title  mt-3 mb-3">Butter Chicken</h5>

      </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="card card-block">
         
        <img src="./assets/img4" alt="">
            <h5 class="card-title  mt-3 mb-3">Paneer-Butter-Masala</h5>

      </div>
        </div> 
        <div class="col-md-3 col-sm-6">
            <div class="card card-block">
            
          <img src="./assets/img5" alt="">
              <h5 class="card-title  mt-3 mb-3"> Chicken Briyani</h5>
              
        </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="card card-block">
            
          <img src="./assets/img6.png" alt="">
              <h5 class="card-title  mt-3 mb-3">Gulab Jamun</h5>
              
        </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="card card-block">
            
          <img src="./assets/img7.png" alt="">
              <h5 class="card-title  mt-3 mb-3">Doughnut</h5>
              
        </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="card card-block">
            <img src="./assets/san3.png" alt="">
              <h5 class="card-title  mt-3 mb-3">Momos</h5>
              
        </div>
          </div> 
          <div class="col-md-3 col-sm-6">
            <div class="card card-block">
          <img src="./assets/img9.png" alt="Photo of sunset">
              <h5 class="card-title  mt-3 mb-3"> Ice-cream</h5>
              
        </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="card card-block">
            <img src="./assets/img10.png" alt="Photo of sunset">
              <h5 class="card-title  mt-3 mb-3">Red Velvet Cake</h5>
              
        </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="card card-block">
            <img src="./assets/san1.jpg" alt="">
              <h5 class="card-title  mt-3 mb-3">Egg Biryani</h5>
              
        </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="card card-block">
          <img src="./assets/san2.png" alt="">
              <h5 class="card-title  mt-3 mb-3">Crispy Chicken in Air fryer</h5>
              
        </div>
          </div>

      </div>
      
      
    </div>
    